name: Deploy to EKS

on:
  push:
    branches: [deployment]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1 # Change to your region

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          mask-password: "true"

      - name: Build, Tag, and Push Docker images
        run: |
          for SERVICE in IT21310546 IT21311772 IT21467448 IT21894510; do
            IMAGE_NAME=$(echo "$SERVICE" | tr '[:upper:]' '[:lower:]')-service
            docker build -t $IMAGE_NAME ./$SERVICE
            docker tag $IMAGE_NAME:latest 124355653119.dkr.ecr.eu-north-1.amazonaws.com/$IMAGE_NAME:latest
            docker push 124355653119.dkr.ecr.eu-north-1.amazonaws.com/$IMAGE_NAME:latest
          done

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name nodejs-microservices
